@import "tailwindcss";

:root {
  --background: #E6E6FA;
  --foreground: #9370DB;
  --secondary: #483D8B;
  --light: #E0FFFF;
  --lighter: #c2daff;
  --font: Delius, san-serif, cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-light: var(--light);
  --color-lighter: var(--lighter);
  --font-main: var(--font-delius-cursive);
  --font-sans: var(--font-anek-telegu-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #9370DB;
    --foreground: #E6E6FA;
    --secondary: #bfb7ef;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font);
}
